<h3>{{ book.titre }}</h3>
<ul>
    <li><b>Auteur: </b><a href="{{ path('app_list_by', { header: 'auteur', value: book.auteur }) }}">{{ book.auteur }}</a></li>
    <li><b>Année de publication: </b><a href="{{ path('app_list_by', { header: 'année de publication', value: book['année de publication'] }) }}">{{ book['année de publication'] }}</a></li>
    <li><b>Genre: </b><a href="{{ path('app_list_by', { header: 'genre', value: book.genre }) }}">{{ book.genre }}</a></li>
</ul>
